body {
  background: white;
}

#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
}

#sprites,
#backgroundImage,
#meatballImage {
  display: none;
}

#playButton {
  background-color: #0BDA51;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

#playButton:hover {
background-color: #98FB98;
}
